mat-card-content h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card { 
    transition: transform 0.2s, box-shadow 0.2s;
}

.product-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    cursor: pointer;
}